.App {
  text-align: left;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 5vmin;
  pointer-events: none;
  margin: 20px;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.characters {
  height: 600px !important;
  max-height: 600px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
