.App {
  text-align: left;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40px;
  pointer-events: none;
  margin: 20px;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  position: fixed !important;
  width: 100% !important;
  z-index: 1000 !important;
}

.contained {
  height: 600px !important;
  max-height: 600px !important;
  margin: 0 auto;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.buffered {
  margin: 0 auto !important;
  position: relative;
  top: 100px;
}

.random {
  width: 60%;
  margin: 0 auto;
}

.img {
  margin: 0 auto;
  display: block;
  height: 180px;
  width: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  .random {
    width: 90%;
  }
}
